17flowers/
model.pth
loss_plot.png
accuracy_plot.png
avg_loss_plot.png
src/handetect/__pycache__/
test_data/
*/test.py
output/checkpoints/*.pth
output/logs/*
output/tensorboard/*
data/train/augmented/*
temp/
.venv/
```