17flowers/
model.pth
loss_plot.png
accuracy_plot.png
avg_loss_plot.png
src/handetect/__pycache__/
test_data/
*/test.py
output/checkpoints/*
output/logs/*
output/tensorboard/*
temp/
.venv/
data/*
cam.jpg
optimized_image.jpg
training_curves.png
.vscode/
data
gradcam.jpg
*sqlite3
lime.jpg
log.csv
*ini
*png
*csv
```